// * {
//   border: 2px solid blue;
// }

// main {
//   margin: 0 auto;
// }

.jumbotron {
  border-radius: 0;
  position: relative;
  width: 100vw;
  left: calc(-50vw + 50%);
  text-align: center;
  background: #EB5757;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #EB5757, #000000);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #EB5757, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
//
// nav {
//   background-color: #EB5757;
// }

.info-box {
  text-align: center;
  margin: 50px auto 0 auto;
}

.book-box {
  height: 150px;
  width: 100px;
  margin: 10px 0 10px 0;
  img {
    max-width: 100%;
    max-height: 100%;
    padding: 4px;
    border-radius: 5px;
  }
}

.showpage {
  margin: 25px auto 10px auto;
  text-align: center;
  justify-content: center;
  // img {
  //
  // }
}
