// * {
//   border: 2px solid blue;
// }

// main {
//   margin: 0 auto;
// }

.jumbotron {
  border-radius: 0;
  position: relative;
  width: 100vw;
  left: calc(-50vw + 50%);
  text-align: center;
  background: #556270;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #FF6B6B, #556270);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #FF6B6B, #556270); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  a {
    color: white;
    text-decoration: none;
  }
}

header {
  background-color: #FF6B6B;
  position: relative;
  width: 100vw;
  left: calc(-50vw + 50%);
  margin-bottom: 20px;
  padding-bottom: 10px;
  nav {
    text-align: center;
    justify-content: space-around;
  }
}

.info-box {
  text-align: center;
  margin: 50px auto 0 auto;
}

.book-box {
  height: 150px;
  width: 100px;
  margin: 10px 0 10px 0;
  img {
    max-width: 100%;
    max-height: 100%;
    padding: 4px;
    border-radius: 5px;
  }
}

.image-box {
  margin: 25px auto 10px auto;
  // text-align: center;
  // justify-content: center;
  img {
    max-height: 430px;
    width: 100%;
    padding: 4px;
    background: #fafafa;
  }
}
